---
import Layout from '../layouts/Layout.astro';
import Television from '../components/Television/Television.astro';
import Cesta from '../components/Cesta/Cesta.astro';
---

<Layout title="sousto">
    <main>
        <!-- <section class="event"> -->
        <!--   <Cesta /> -->
        <!-- </section> -->
        <section class="intro">
            <Television>
                <h1 class="title">
                    <span>sou</span>
                    <span>sto</span>
                </h1>
            </Television>
        </section>
        <section class="manifest">
            <article>
                <h2>manifesto</h2>
                <p>
                    Sousto rozvíjí komunitní život v Táboře pořádáním hudebních akcí. Podporujeme místní DJs i se
                    snažíme představovat místnímu publiku zajímavá jména české klubové scény.
                </p>
                <p>
                    Tábor je náš program.
                </p>
            </article>
        </section>
        <section class="links">
            <nav>
                <a href="https://soundcloud.com/sousto_tabor">soundcloud</a>
                <a href="https://www.instagram.com/sousto_tabor/">instagram</a>
                <a href="https://www.facebook.com/soustotabor">facebook</a>
                <a href="mailto:kolektiv@sousto.party">email</a>
            </nav>
        </section>
        <!--<img src="/soustik.svg" alt="Soustík" class="mascot">-->
    </main>
</Layout>

<style>

    .event {
        background: var(--color-primary);
    }

    .manifest {
        background: var(--color-primary);
        min-height: 100vh;
        display: grid;
        place-content: center;

        & > article {
            max-width: 40ch;
            margin-inline: auto;
            padding-inline: 24px;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

    }

    .links {
        background: black;
        color: var(--color-primary);
        min-height: 100vh;
        display: grid;
        place-content: center;
        text-align: center;
        gap: 32px;

        & a {
            color: inherit;
        }

        & > nav {
            display: flex;
            gap: 32px;

            @media (orientation: portrait) {
                flex-direction: column;
                gap: 12px;
            }
        }
    }

    @keyframes gramophone {
        0% {
            rotate: 0deg
        }
        100% {
            rotate: 360deg
        }
    }

    .title {
        font-size: clamp(16 * 16px, 16 * 16px + 8 * 16 * var(--fluidum), 24 * 16px);
        line-height: 1cap;
        display: flex;
        letter-spacing: -0.1ex;


        @media ( orientation: portrait ) {
            flex-direction: column;


            & > span:first-child {
                line-height: 0.6;
                letter-spacing: -28px;
            }
        }
    }

    .mascot {
        position: absolute;
        bottom: 0;
        left: 0;
    }
</style>
