---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--color-primary: rgb(0, 255, 0);
		--fluidum: calc((100vw - 380px) / (1920 - 380));
	}

	@font-face {
		font-family: "Hafer";
		src: url("./haffer.woff2");
	}

	html {
		font-family: "Hafer", serif;
		color: black;
		min-height: 100vh;
		accent-color: var(--color-primary);
		font-variation-settings: "XHGT" 0.7, "ital" 0, "wght" 1000;
		font-feature-settings: "tnum";
		font-kerning: normal;
		font-size: clamp(32px, 32px + 32 * var(--fluidum), 64px);

	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
</style>
